/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 juin 2016, 20:39:08
    Author     : david
*/
.root
{
    -fx-background-image:url("/ressource/swag.gif");
}
#menu-principal
{
    -fx-alignment:CENTER_LEFT;
    -fx-max-width:400px;
}
#menu-principal .button
{
    -fx-font-size:2.5em;
    -fx-padding:10 50 10 50;
}

#menu-principal .label
{
    -fx-font-size:40px;
    -fx-text-fill:black;
    -fx-font-weight:bold;
    -fx-alignment:center;
    -fx-max-width:400px;
}
#menu-secondaire
{
    -fx-background-color:"2b2b2b";
    -fx-max-width:300px;
}
#menu-lecture, #menu-ecriture
{
    -fx-max-width:300px;
    -fx-alignment:TOP_LEFT;
}
#menu-secondaire .toggle-button
{
    -fx-font-size:28px;
    -fx-max-width:300px;
   -fx-background-color:"3c3f41";
    -fx-text-fill:white;
    -fx-border-color:black;

}
.button:hover,.toggle-button:hover
{
    -fx-cursor:hand;
}
#navbar
{
    -fx-background-color:"2b2b2b";
    -fx-font-size:2em;
}
#menu-secondaire .toggle-button:hover
{
    -fx-background-color:"232222";
}
#menu-secondaire .toggle-button:selected
{
    -fx-background-color:"2b2b2b";
}
#homebutton
{
    -fx-background-color:none;

}
#date
{
    -fx-font-size:2em;
    -fx-text-fill:white;
    -fx-max-width:200px;
    -fx-max-height:80px;
    -fx-alignment:CENTER_RIGHT;
    -fx-font-weight:bold;
}
#listeElement
{
    -fx-max-width:900px;
    -fx-max-height:900px;
    -fx-alignment:CENTER;
}
#listeElement .table-view
{
    -fx-min-height:500px;
}
#listeElement .label
{
    -fx-font-size:20px;
}
#listeElement .table-cell
{
    -fx-font-size:18px;
    -fx-alignment: center;
}
#TitreTable
{
    -fx-font-size:20px;
    -fx-alignment:CENTER;
    -fx-max-width:200px;
    -fx-font-weight:bold;
    -fx-text-fill:black;
}

